--extra-index-url https://download.pytorch.org/whl/cpu
langchain-community
ragas
python-dotenv
pandas
torch
sentence-transformers
jsonref
ipykernel
ipywidgets
langchain-huggingface
langchain-openai
rapidfuzz